name: Nightly Selenium Test with Maven
'on':
  schedule:
    - cron: 0 1 * * 1-5
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
      - name: Build and test with Maven
        run: 'mvn -B clean test -Dbrowser=Chrome -Durl=https://www.swtestacademy.com'
